* {
    padding: 0;
    margin: 0;
  }
  :root {
    --background-color: #2F303A;
    --button-color: #2196F3;
    --section-two-color-text: #757575;
  }
  
  @font-face {
    font-family: 'Roboto';
    font-weight: 700;
    src: url('Roboto\Roboto-Bold.ttf');
  }
  
  @font-face {
    font-family: 'Roboto';
    font-weight: 900;
    src: url('Roboto\Roboto-Black.ttf');
  }
  
  @font-face {
    font-family: 'Roboto';
    font-weight: 500;
    src: url('Roboto\Roboto-MediumItalic.ttf');
  }
  
  @font-face {
    font-family: 'Roboto';
    font-weight: 400;
    src: url('Roboto\Roboto-Regular.ttf');
  }
  
  @font-face {
    font-family: 'Roboto';
    font-weight: 300;
    src: url('Roboto\Roboto-Light.ttf');
  }
  
  body {
  
    font-family: 'Roboto', sans-serif;
    font-size: 14px
  }
  .nav-link {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-weight: 500;
    font-size: 14;
    line-height: 1.17;
    color: #212121;
  }
  .nav-link:hover {
    color: var(--button-color);
  }
.nav-email{
    color: var(--button-color);
    text-decoration: none;
}
.text-button{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
}
.portfolio-filter {
    display: flex;
}

.filter-button {
    background-color: white;
    color: #212121;
    border-radius: 4px;
    border-color: white;
}
.filter-button:hover {
    background-color: var(--button-color);
    color: white;
    border-color: var(--button-color);
}
.portfolio-title{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
}
.portfolio-category{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    color:#757575;
}
.main-footer {
    background-color: var(--background-color);
  }
  
.footer-address,
.footer-email,
.footer-phone {
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 1.71;
      color: #FFFFFF;
  } 
.footer-email {
      color: rgba(255, 255, 255, 0.6);
  }
  
.footer-phone {
      color: rgba(255, 255, 255, 0.6);
  }
  .link-email {
    text-decoration: none;
  }
  .link-phone{
    text-decoration: none;
  }
  .link-email,
  .link-phone {
    color:rgba(255, 255, 255, 0.6) ;
  }
  .container{
    width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
  }
  .container {
    padding-top: 20px;
    padding-bottom: 20px;
  }