* {
    padding: 0;
    margin: 0;
  }
  :root {
    --background-color: #2F303A;
    --button-color: #2196F3;
    --section-two-color-text: #757575;
  }
  
  @font-face {
    font-family: 'Roboto';
    font-weight: 700;
    src: url('Roboto\Roboto-Bold.ttf');
  }
  
  @font-face {
    font-family: 'Roboto';
    font-weight: 900;
    src: url('Roboto\Roboto-Black.ttf');
  }
  
  @font-face {
    font-family: 'Roboto';
    font-weight: 500;
    src: url('Roboto\Roboto-Medium.ttf');
  }
  
  @font-face {
    font-family: 'Roboto';
    font-weight: 400;
    src: url('Roboto\Roboto-Regular.ttf');
  }
  
  @font-face {
    font-family: 'Roboto';
    font-weight: 300;
    src: url('Roboto\Roboto-Light.ttf');
  }
  
  body {
  
    font-family: 'Roboto', sans-serif;
    font-size: 14px
  }
  .nav-menu {
    list-style: none;
    display: flex;
    justify-content: center;
    justify-self: center;
    border-bottom: 25px;
    align-items: center;
  }
  .main-header > .container{
    display: flex;
    align-items: center;
  }
  .nav-link {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
    color: #212121;
    margin-right: 50px;
  }
  .nav-link:hover {
    color: var(--button-color);
  }
  .nav-email{
    color: #212121;
    text-decoration: none;
  }
  .nav-email:hover{
    color: var(--button-color);
  }
.logo{
  margin-right: 150px;
}
.nav-email{
  margin-left: 144px;
}
.phone-number{
  margin-left: 50px;
  color: #212121;
  text-decoration: none;
}
.phone-number:hover{
  color: var(--button-color);
}
.text-button{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
}
.portfolio-filter {
    display: flex;
    justify-content: center;
}

.filter-button {
    background-color: #F5F4FA;
    color: #212121;
    border-radius: 5px;
    border-color: #F5F4FA;
    border: none;
    margin: 0 8px;
    padding: 10px 20px;
    cursor: pointer;
}
.filter-button:hover {
    background-color: var(--button-color);
    color: white;
    border-color: var(--button-color);
}
.main-section > .container{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 30px;
}
.portfolio-title{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
}
.portfolio-category{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    color:#757575;
}
.main-footer {
    background-color: var(--background-color);
  }
  
  .footer-address,
  .footer-email,
  .footer-phone {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        color: #FFFFFF;
        padding-bottom: 9px;
  }
.footer-email {
      color: rgba(255, 255, 255, 0.6);
  }
  
.footer-phone {
      color: rgba(255, 255, 255, 0.6);
  }
  .link-email {
    text-decoration: none;
  }
  .link-phone{
    text-decoration: none;
  }
  .link-email,
  .link-phone {
    color:rgba(255, 255, 255, 0.6) ;
  }
  .footer-logo{
    padding-bottom: 20px;
  }
  .container{
    width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
  }
  .main-header{
    padding-top: 24px;
    padding-bottom: 25px;
  }
  .portfolio-filter{
    padding-top: 94px;
    padding-bottom: 34px;
  }
  .portfolio-item{
    flex-basis: calc((100% - 60px) / 3);
    box-sizing: border-box;
    outline: 1px solid #EEEEEE;
  }
  .main-footer{
    padding-top: 60px;
    padding-bottom: 60px;
  }
.portfolio-title{
  padding-top: 20px;
}
.portfolio-item:nth-last-child(-n+3){
  margin-bottom: 150px;
}
.portfolio-title,
.portfolio-category{
  padding-left: 24px;
}
.portfolio-item:hover{
  box-shadow: 0 8px 8px -5px rgba(0, 0, 0, 0.5) ;
}
.filter-button:hover{
  box-shadow: 0 4px 8px -4px rgba(0, 0, 0, 0.6);
}
.main-header{
  border-bottom: 1px solid #ECECEC;
}