* {
  padding: 0;
  margin: 0;
}
:root {
  --background-color: #2F303A;
  --button-color: #2196F3;
  --section-two-color-text: #757575;
}

@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  src: url('Roboto\Roboto-Bold.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 900;
  src: url('Roboto\Roboto-Black.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  src: url('Roboto\Roboto-Medium.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  src: url('Roboto\Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 300;
  src: url('Roboto\Roboto-Light.ttf');
}

body {

  font-family: 'Roboto', sans-serif;
  font-size: 14px
}
.nav-menu {
  list-style: none;
  display: flex;
  justify-content: center;
  justify-self: center;
  align-items: center;
}
.main-header > .container{
  display: flex;
  align-items: center;
}
.nav-link {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  color: #212121;
  margin-right: 50px;
}
.nav-link:hover {
  color: var(--button-color);
}
.nav-email{
  color: #212121;
  text-decoration: none;
}
.nav-email:hover{
  color: var(--button-color);
}
.logo{
margin-right: 150px;
}
.nav-email{
margin-left: 144px;
}
.phone-number{
margin-left: 50px;
color: #212121;
text-decoration: none;
}
.phone-number:hover{
  color: var(--button-color);
}
.main-section {
  background-color: var(--background-color);
}

.main-title {
  color: #FFF;
  text-align: center;
  font-family: 'Roboto' sans-serif;
  font-size: 44px;
  font-style: normal;
  font-weight: 900;
  line-height: 60px; 
  text-transform: uppercase;
}

.order-button {
  border-radius: 4px;
  border-color: var(--button-color);
  background-color: var(--button-color);
  text-align: center;
  width: 216px;
  height: 50px;
}

.text-button {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 16.41px;
  color: #FFFFFF;
}
.feature{
  width: 23%;
}
.feature-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
}

.feature-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.170;
  color: #757575;
}

.services-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.171;
  text-align: center;
  padding-bottom: 50px;
}
.team-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.171;
  text-align: center;
  padding-bottom: 50px;
}
.team-member-name {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  padding-top: 30px;
}

.team-member-job {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: var(--section-two-color-text);
  text-align: center;
  padding-top: 10px;
}
.main-footer {
  background-color: var(--background-color);
}

.footer-address,
.footer-email,
.footer-phone {
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 1.71;
      color: #FFFFFF;
      padding-bottom: 9px;
  }

.footer-email { 
      color: rgba(255, 255, 255, 0.6);
  }
  
.footer-phone {
      color: rgba(255, 255, 255, 0.6);
  }
.link-email {
  text-decoration: none;
}
.link-phone{
  text-decoration: none;
}
.link-email,
.link-phone {
  color:rgba(255, 255, 255, 0.6) ;
}
.footer-logo{
  padding-bottom: 20px;
}
.flex-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: space-between;
  }
.flex-container1{
  display: flex;
  justify-content: space-between;
}
.services-list{
  display: flex;
  justify-content: space-between;
}
.flex-container2{
  display: flex;
  justify-content: space-between;
}
.foto-member{
  max-width: 92%;
}
.container{
  width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}
.flex-container{
  width: 696px;
  height: 200px;
  margin: 0 auto;
}
.main-header{
  padding-top: 24px;
  padding-bottom: 25px;
}
.main-section{
  padding-top: 200px;
  padding-bottom: 200px;
}
.feature-section{
  padding-top: 94px;
  padding-bottom: 94px;
}
.services{
  padding-bottom: 94px;
}
.team-section{
  padding-bottom: 94px;
}
.main-footer{
  padding-top: 60px;
  padding-bottom: 60px;
}
