* {
  padding: 0;
  margin: 0;
}
:root {
  --background-color: #2F303A;
  --button-color: #2196F3;
  --section-two-color-text: #757575;
}

@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  src: url('Roboto\Roboto-Bold.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 900;
  src: url('Roboto\Roboto-Black.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  src: url('Roboto\Roboto-MediumItalic.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  src: url('Roboto\Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 300;
  src: url('Roboto\Roboto-Light.ttf');
}

body {

  font-family: 'Roboto', sans-serif;
  font-size: 14px
}
.nav-link {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  font-weight: 500;
  font-size: 14;
  line-height: 1.17;
  color: #212121;
}

.nav-link:hover {
  color: var(--button-color);
}
.nav-email{
  color: var(--button-color);
  text-decoration: none;
}

.main-section {
  background-color: var(--background-color);
}

.main-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  color: #FFFFFF;
}

.order-button {
  border-radius: 4px;
  border-color: var(--button-color);
  background-color: var(--button-color);
  text-align: center;
}

.text-button {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: #FFFFFF;
}

.feature-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.172;
}

.feature-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.170;
  color: #757575;
}

.services-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.171;
  text-align: center;
}
.team-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.171;
  text-align: center;
}
.team-member-name {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.171px;
}

.team-member-job {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.171;
  color: var(--section-two-color-text);
}

.main-footer {
  background-color: var(--background-color);
}

.footer-address,
.footer-email,
.footer-phone {
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 1.71;
      color: #FFFFFF;
  }

.footer-email { 
      color: rgba(255, 255, 255, 0.6);
  }
  
.footer-phone {
      color: rgba(255, 255, 255, 0.6);
  }

  